# Executables
*.exe
*.out
*.app

# IDEs
**/.idea/
.vs/
**/.vs/

# Build output
**/out/
**/build/
**/cmake-build*/
**/CMakeFiles/
**/CMakeCache.txt
**/cmake_install.cmake
**/Makefile
**/*.ninja
**/*.ninja_deps
**/*.ninja_log
**/compile_commands.json

# Runtime/generated data
results/
experiments/

# Visual Studio
*.user
*.VC.db
*.VC.VC.opendb
CMakeSettings.json
optimizer/CMakeSettings.json